/* Layout */

:root {
  font-family: "Avenir Next", "Nunito Sans", ui-sans-serif, system-ui, -apple-system, "system-ui", "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.stacked {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.w-350 {
  width: 350px;
}

.row {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.page {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: repeat(3, 1fr);
  grid-template-areas:
    "header header"
    "sidebar ."
    "footer footer";
}

header, .header {
  grid-area: header;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  padding: 0.5rem 1rem;
  background: rgb(22, 28, 44);
  color: white;
}
footer, .footer {
  grid-area: footer;
  color: black;
}
aside, .sidebar {
  grid-area: sidebar;
  padding: 1rem;
  background: #f0f0f0;
  float: left;
}
nav, .nav {
  display: flex;
  gap: 1rem;
  margin-top: 0.5rem;
}
main, .content {
  padding: 1rem;
}
form, .form {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: 300px;
}

/* Helper */
/*
	Improved screen reader only CSS class
	@author Gaël Poupard
		@note Based on Yahoo!'s technique
		@author Thierry Koblentz
		@see https://www.cssmojo.com/hide-content-from-sighted-users/
	* 1.
		@note Use to only display content when it's focused, or one of its child elements is focused
		@see http://www.w3.org/TR/2013/NOTE-WCAG20-TECHS-20130905/G1
		@note Based on a HTML5 Boilerplate technique, included in Bootstrap
	* 2.
		@note `clip-path` shortest syntax
		@author Yvain Liechti
		@see https://twitter.com/ryuran78/status/778943389819604992
	* 3.
		@note preventing text to be condensed
		author J. Renée Beach
		@see https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
		@note Drupal 8 goes with word-wrap: normal instead
		@see https://www.drupal.org/node/2045151
		@see http://cgit.drupalcode.org/drupal/commit/?id=5b847ea
	* 4.
		@note !important is important
		@note Obviously you wanna hide something
		@author Harry Roberts
		@see https://csswizardry.com/2016/05/the-importance-of-important/
*/

.visually-hidden,
.visually-hidden-focusable:not(:focus, :focus-within) {
	border: 0 !important;
	clip-path: inset(50%) !important; /* 2 */
	height: 1px !important;
	margin: -1px !important;
	overflow: hidden !important;
	padding: 0 !important;
	width: 1px !important;
	white-space: nowrap !important; /* 3 */
}

/*
	Prevent visually hidden caption from breaking table's collapsing borders
	@author Louis-Maxime Piton
	@see https://github.com/twbs/bootstrap/pull/37533
*/
.visually-hidden:not(caption),
.visually-hidden-focusable:not(caption):not(:focus, :focus-within) {
	position: absolute !important;
}


/*
	Prevent overflowing children from being focusable.
	@author Django Janny
	@see https://github.com/twbs/bootstrap/pull/41286
*/
.visually-hidden *,
.visually-hidden-focusable:not(:focus, :focus-within) * {
	overflow: hidden !important;
}

/* Atomics */

h1, .brand, .headline {
  display: block;
  font-size: 2em;
  margin-block-start: 0.67em;
  margin-block-end: 0.67em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}

h2, .title {
  font-size: 1.5rem;
  display: block;
  margin-block-start: 0.83em;
  margin-block-end: 0.83em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
  unicode-bidi: isolate;
}

nav a, .nav-link {
  display: inline-block;
  padding: 0.5em 1em;
  position: relative;
  margin-bottom: 0.5rem;
  background-color: transparent;
  border: 0;
  font-family: "Avenir Next", "Nunito Sans", ui-sans-serif, system-ui, -apple-system, "system-ui", "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 16px;
  text-decoration: none;
  text-align: center;
  color: black;
  z-index: 1;
  background-color: rgb(21, 194, 203);

  &:hover {
    cursor: pointer;
    background-color: rgb(42, 212, 221);
  }
}

button, .button {
  display: inline-block;
  padding: 0.5em 1em;
  position: relative;
  margin-bottom: 1em;
  background-color: transparent;
  border: 0;
  font-family: "Avenir Next", "Nunito Sans", ui-sans-serif, system-ui, -apple-system, "system-ui", "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 16px;
  text-decoration: none;
  text-align: center;
  color: black;
  border: 1px solid #0d0d0d;
  background-color: #ffd500;


  &:hover:not(:disabled,[aria-disabled=true]) {
    cursor: pointer;
    background-color: #f6db56;
  }

  &:focus-visible {
    outline: 2px solid #000;
    outline-offset: 2px;
  }

  &[disabled] {
    background: #ccc;
    color: #666;
    border: none;
    cursor: not-allowed;
  }

  &[type="submit"]:has(+small) {
    margin-bottom: 0;
  }
}

input, textarea, select {
  padding: 0.5rem;
  font-size: 16px;
  width: 100%;

  &[aria-invalid=true], &.error {
    border: 2px solid rgb(200, 14, 14);
  }

  +small {
    display: block;
    padding-bottom: 0.25rem;
  }

  +small[role=alert], +small.error {
    color: rgb(200, 14, 14);
  }
}
label, .label {
  font-weight: bold;
  padding-bottom: 0.25rem;

  &:has(+:is(input, textarea, select)) {
    display: flex;
    flex-direction: column;
  }
}

.notification {
  position: fixed;
  top: 20px;
  right: 20px;
  margin-top: 1rem;
  padding: 1rem;
  background: #d4edda;
  border: 1px solid #c3e6cb;
  border-radius: 4px;
}
